<h1 class="title">
  Cities hashtags
</h1>

<div class="box">
  <div class="table-container">
    <table class="table is-narrow is-hoverable is-fullwidth table-container">
      <tbody>
        <tr *ngFor="let tag of hashtags">
          <td>
            <a (click)="getTweetsByCity()">{{ tag.label }}</a>
          </td>
          <td>
            <progress class="progress is-primary" value="{{ tag.value }}" max="{{ max_hashtags }}"></progress>
          </td>
          <td>
            {{ tag.value }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
