<nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous" (click)="previousPage()"> Previous </a>
  <a (click)="nextPage()" class="pagination-next">Next page</a>
  <ul class="pagination-list">
    <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{ twitter.page }}</a></li>
  </ul>
</nav>
<br>

<div class="columns tweets is-multiline">
  <div class="column card is-one-third" *ngFor="let tweet of tweets; let i = index">
    <app-tweet *ngIf="tweet.retweeted_status" [tweet]="tweet.retweeted_status" [retweet]="tweet" (action)="action($event, i)"></app-tweet>
    <app-tweet *ngIf="!tweet.retweeted_status" [tweet]="tweet" (action)="action($event, i)"></app-tweet>
  </div>
</div>
