<div class="columns is-horizontal-centered">
  <div class="column is-12-mobile is-12-desktop">
    <app-highmap [hashtags]="hashtags"></app-highmap>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-one-third is-vertical is-parent">
      <app-hashtags class="tile is-child" [(tweets)]="tweets" [(query)]="query"  [hashtags]="hashtags" [max_hashtags]="max_hashtags"></app-hashtags>
      <app-tweet class="tile is-child" [tweet]="tweets[2]" *ngIf="tweets[2]"></app-tweet>
      <app-tweet class="tile is-child" [tweet]="tweets[5]" *ngIf="tweets[5]"></app-tweet>
  </div>
  <div class="tile is-one-third is-vertical is-parent">
      <app-tweet class="tile is-child" [tweet]="tweets[0]" *ngIf="tweets[0]"></app-tweet>
        <app-tweet class="tile is-child" [tweet]="tweets[3]" *ngIf="tweets[3]"></app-tweet>
      <app-tweet class="tile is-child" [tweet]="tweets[6]" *ngIf="tweets[6]"></app-tweet>
  </div>
  <div class="tile is-vertical is-parent">
      <app-tweet class="tile is-child" [tweet]="tweets[1]" *ngIf="tweets[1]"></app-tweet>
      <app-tweet class="tile is-child" [tweet]="tweets[4]" *ngIf="tweets[4]"></app-tweet>
      <app-tweet class="tile is-child" [tweet]="tweets[7]" *ngIf="tweets[7]"></app-tweet>
  </div>
</div>

<nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
  <a class="pagination-previous" [attr.disabled]="currentPage == 0 ? '': null" (click)="previousPage()" >Previous</a>
  <a (click)="nextPage()" class="pagination-next" [attr.disabled]="tweets.length == 0 ? '': null"  >Next page</a>
  <ul class="pagination-list">
    <li><a class="pagination-link" aria-current="page">{{ currentPage }}</a></li>
  </ul>
</nav>
<br>

<!--
<div class="columns tweets is-multiline">
  <div class="column card is-one-third" *ngFor="let tweet of tweets; let i = index">
    <app-tweet *ngIf="tweet.retweeted_status" [tweet]="tweet.retweeted_status" [retweet]="tweet" (action)="action($event, i)"></app-tweet>
    <app-tweet *ngIf="!tweet.retweeted_status" [tweet]="tweet" (action)="action($event, i)"></app-tweet>
  </div>
</div>
-->
