<nav class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-item" href="https://bulma.io">
      <a href="/">
        <img src="/assets/images/logo_small.svg" alt="GSWAI" width="100" height="200">
      </a>
    </div>

    <div class="navbar-burger burger" [ngClass]="{ 'is-active' : burger }" (click)="toggleBurger()" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu" [ngClass]="{ 'is-active' : burger }" (click)="toggleBurger()">
    <div class="navbar-start">
      <a class="navbar-item" href="https://globalswai.co">
        Global SWAI
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item is-link" href="https://globalswai.co/#about">
        Get involved
      </a>

      <a class="navbar-item" href="https://globalswai.co/gswai2017">
        GSWAI 2017
      </a>

      <!--
      <a class="navbar-item" href="/team">
        Team
      </a>
      -->

      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" href="https://twitter.com/GlobalSWAI">
              <div style="text-align:center">
                <fa-icon [icon]="faTwitter"></fa-icon>
              </div>
            </a>
          </p>
          <p class="control">
            <a class="bd-tw-button button" href="https://www.facebook.com/GlobalSWAI">
              <div style="text-align:center">
                <fa-icon [icon]="faFacebook"></fa-icon>
              </div>
            </a>
          </p>
          <p class="control">
            <a class="bd-tw-button button" href="https://www.instagram.com/global_swai">
              <div style="text-align:center">
                <fa-icon [icon]="faInstagram"></fa-icon>
              </div>
            </a>
          </p>
        </div>
      </div>

    </div>
  </div>
</nav>


<section class="hero is-primary">
  <div class="hero-body">
    <div class="container is-fullhd">
      <nav class="level">
        <div class="level-left">
          <figure class="image">
            <img src="/assets/images/banner1.jpg">
          </figure>
        </div>
        <div class="level-right">
          <figure class="image">
            <img src="/assets/images/banner2.svg" width="300" height="200">
          </figure>
        </div>
      </nav>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <app-tweets></app-tweets>
  </div>
</section>
