<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/images/logo_small.svg" alt="Logo GSWAI">
    </a>


    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#" target="_blank">Global SWAI</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="bd-tw-button button" href="#">
          <div style="text-align:center">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Tweets App
      </h1>
      <h2 class="subtitle">
        GSWAI
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <h1 class="title">Hashtags</h1>
        <app-hashtags></app-hashtags>
      </div>
      <div class="column">
        <h1 class="title">Tweets</h1>
        <h2 class="subtitle">
          A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
        </h2>
        <app-tweets></app-tweets>
      </div>
    </div>
  </div>
</section>
