<nav class="navbar is-primary">
  <div class="navbar-brand">
    <div class="navbar-item" href="https://bulma.io">
      <a href="/">
        <img src="/assets/images/logo_small.svg" alt="GSWAI">
      </a>
    </div>

    <div class="navbar-burger burger" [ngClass]="{ 'is-active' : burger }" (click)="toggleBurger()" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu" [ngClass]="{ 'is-active' : burger }" (click)="toggleBurger()">
    <div class="navbar-start">
      <a class="navbar-item" href="https://globalswai.co">
        Global SWAI
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item is-link" href="https://globalswai.co/#about">
        Get involved
      </a>

      <a class="navbar-item" href="https://globalswai.co/gswai2017">
        GSWAI 2017
      </a>

      <a class="navbar-item" href="https://globalswai.co/team">
        Team
      </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Media  &nbsp; 
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item bd-tw-button button" href="https://globalswai.co/videos">
                <fa-icon [icon]="faYoutube"></fa-icon> Videos
            </a>
            <a class="navbar-item bd-tw-button button" href="https://globalswai.co/articles">
                <fa-icon [icon]="faMedium"></fa-icon> Articles
            </a>
            <a class="navbar-item bd-tw-button button" href="https://ng-tweet.herokuapp.com/">
                <fa-icon [icon]="faTwitter"></fa-icon> Tweet Wall
            </a>
          </div>
          <hr class="navbar-divider">
        </div>


        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Find us &nbsp; 
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item bd-tw-button button" href="https://twitter.com/GlobalSWAI">
                <fa-icon [icon]="faTwitter"></fa-icon> Twitter
            </a>
            <a class="navbar-item bd-tw-button button" href="https://www.facebook.com/GlobalSWAI">
                <fa-icon [icon]="faFacebook"></fa-icon> Facebook
            </a>
            <a class="navbar-item bd-tw-button button" href="https://www.instagram.com/global_swai">
                <fa-icon [icon]="faInstagram"></fa-icon> Instagram
            </a>
          </div>
        </div>

    </div>
  </div>
</nav>


<section class="hero is-primary">
  <div class="hero-body">
    <div class="container is-fullhd">
      <nav class="level">
        <div class="level-left">
          <figure class="image">
            <img src="/assets/images/banner1.jpg">
          </figure>
        </div>
        <div class="level-right">
          <figure class="image">
            <img src="/assets/images/banner2.svg" width="300" height="200">
          </figure>
        </div>
      </nav>
    </div>
  </div>
   <div class="hero-foot">
    <nav class="tabs is-boxed">
      <div class="container">
        <ul>
          <li>
            <a routerLink="/dashboard">Dashboard</a>
          </li>
          <li>
            <a routerLink="/news">News</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>


<section class="section">
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</section>

<app-messages></app-messages>

<footer class="footer">
  <div class="container">
    <div class="content">


      <div class="columns">
        <div class="column">
          <aside class="menu">
          <p class="menu-label">
            <a href="/">Global SWAI</a>
          </p>
          <ul class="menu-list no-bullets">
            <li><a href="https://globalswai.co/#about">Get involved</a></li>
            <li><a href="https://globalswai.co/gswai2017">GSWAI 2017</a></li>
            <li><a href="https://globalswai.co/team">Team</a>
            <li><a href="#">Media </a>
              <ul>
                <li><a href="https://globalswai.co/videos"><fa-icon [icon]="faYoutube"></fa-icon> Videos</a></li>
                <li><a href="https://globalswai.co/articles"><fa-icon [icon]="faMedium"></fa-icon> Articles</a></li>
                <li><a href="https://ng-tweet.herokuapp.com"><fa-icon [icon]="faTwitter"></fa-icon> Tweet wall</a></li>
              </ul>
            </li>
          </ul>
          </aside>
        </div>
        <div class="column">
          <p class="menu-label">
            Find us!
          </p>
          <a href="https://twitter.com/GlobalSWAI"><fa-icon [icon]="faTwitter"></fa-icon>&nbsp;</a>
          <a href="https://www.facebook.com/GlobalSWAI"><fa-icon [icon]="faFacebook"></fa-icon>&nbsp;</a>
          <a href="https://www.instagram.com/global_swai"><fa-icon [icon]="faInstagram"></fa-icon>&nbsp;</a>
        </div>
      </div>

      <div class="has-text-centered">
        <p>
          2018 - Global Startup Weekend Team
        </p>
      </div>
      <p>
      </p>
    </div>
  </div>
</footer>
