<div class="card">
  <div class="card-image" *ngIf="hasPhoto(tweet)">
    <figure class="image is-4by3">
      <img [src]="tweet.media[0].media_url_https" (click)="toggleModal()" />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <a (click)="toggleModal()">
            <img [src]="tweet.avatar" class="User image"/>
          </a>
        </figure>
      </div>
      <div class="media-content">
        <a (click)="toggleModal()">
        <p class="title is-4">{{ tweet.author }}</p>
        <p class="subtitle is-6">@{{ tweet.screenname }}</p>
        </a>
      </div>
    </div>
    <div class="content">
      <p [innerHTML]="tweet | tweet"></p>
      <!--
      <time datetime="{{ '01/05/2017' | amParse:'DD/MM/YYYY' | amDateFormat:'YYYY-MM-DD' }}">{{ tweet.created_at |  amTimeAgo}}</time>
      -->
      <p>{{ tweet.date | amParse: 'ddd MMM DD HH:mm:ss ZZ YYYY' | amTimeAgo }}</p>
    </div>
  </div>
</div>



<div class="modal" [ngClass]="{ 'is-active' : media }">
  <div class="modal-background" (click)="toggleModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div class="container">
        
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <a (click)="toggleModal()">
                  <img [src]="tweet.avatar" class="User image"/>
                </a>
              </figure>
            </div>
            <div class="media-content">
              <a (click)="toggleModal()">
                <p class="title is-4">{{ tweet.author }}</p>
                <p class="subtitle is-6">@{{ tweet.screenname}}</p>
              </a>
            </div>
            <div class="media-right">
              <button class="delete" aria-label="close" (click)="toggleModal()"></button>
            </div>
          </div>
      </div>
    </header>
    <section class="modal-card-body">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p [innerHTML]="tweet | tweet"></p>
            <div class="tags" *ngIf="hasHashtags(tweet)">
              <span class="tag" *ngFor="let tag of tweet.hashtags">{{ tag }}</span>
            </div>
          </div>
        </div>
        <div class="card-image" *ngIf="hasPhoto(tweet)">
          <figure class="image">
            <img [src]="tweet.media[0].media_url_https" (click)="toggleModal()" />
          </figure>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <time datetime="2016-1-1">{{ tweet.date |  amTimeAgo}}</time>
          </p>

          <p class="card-footer-item" *ngIf="hasFavorite(tweet)">
            <fa-icon [icon]="faThumbsUp"></fa-icon>   {{ tweet.favorite_count }} 
          </p>

          <p class="card-footer-item" *ngIf="hasFavorite(tweet)">
            <fa-icon [icon]="faRetweet"></fa-icon>   {{ tweet.retweet_count }}
          </p>

          <p class="card-footer-item">
            <span>
              See it on <a href="https://twitter.com/{{ tweet.screenname}}/status/{{ tweet.twid }}">
                Twitter
                </a>
            </span>
          </p>
        </footer>
      </div>
    </section>
  </div>
</div>
