<div class="card">
  <div class="card-image" *ngIf="hasPhoto(tweet)">
    <figure class="image is-4by3">
      <img [src]="tweet.entities?.media[0].media_url_https" (click)="media = true" />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48" (click)="media = true">
          <img [src]="tweet.user.profile_image_url_https" class="User image" (click)="media = true"/>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ tweet.user.name }}</p>
        <p class="subtitle is-6">{{ tweet.user.screen_name }}</p>
      </div>
    </div>

    <div class="content">
      {{ tweet.text }}
      <div *ngIf="hasHashtags(tweet)">
        <div *ngFor="let tag of tweet.hashtags" >
          <span class="tag">{{ tag }}</span>
        </div>
      </div>
      <br>
      <time datetime="2016-1-1">{{ tweet.created_at |  amTimeAgo}}</time>
    </div>
  </div>
</div>
