/* You can add global styles to this file, and also import other style files */
@import "initial-variables";
@import "functions";

$darkblue: #13123d;
$darkblue-invert: #ffffff;
$pink: #FA7C91;

$primary: $darkblue;
$primary-invert: $darkblue-invert;
$link: $pink;
$navbar-burger-color: $white;

@import "bulma";
